/* 
    General Styles
*/

#tarjeta {

    width: 300px !important;
    height: 550px;
}

#imagen {
    width: 250px !important;
}

#tarjeta2 {

    width: 300px !important;
    height: 460px;

}

#imagen2 {
    width: 250px !important;
}